<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans.xsd">
           
           <bean id="car" class="in.ashok.beans.Car">
   <property name="eng" ref="dieselEng" ></property>
  </bean>

  <bean id="dieselEng" class="in.ashok.beans.DieselEngine">
    
  </bean>

  

  <!-- more bean definitions go here -->

</beans>